---
import Layout from "@/layouts/Layout.astro";

---
<Layout title="Page not found">
  <h1>Parece que no encontramos esta pagina!</h1>
  <p>Mientras descubrimos que paso, volvamos al inicio.</p>
  <a href="/">Inicio</a>
</Layout>