---
import Layout from "@/layouts/Layout.astro";
import Hero from '@/components/Hero.astro'
import Brands from '@/components/Brands.astro'
import Products from '@/components/Products.astro'
import Showcase from '@/components/Showcase.astro'

---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Brands />
		<Products />
		<Showcase />
	</main>
</Layout>