---
import { Image } from "astro:assets";
---

<section class="relative" >
  <div class="absolute w-full h-full inset-0 z-10 flex flex-col gap-4 p-4 sm:px-8 justify-evenly items-end">
    <h2 class="text-3xl font-bold sm:text-4xl">Funtas protectoras</h2>
    <p class="font-medium text-2xl" >Proteja sus:</p>
    <ul class="text-end text-xl border-r-2 border-b-2 p-2">
      <li>Lectores</li>
      <li>Tablet PC</li>
      <li>Datafonos</li>
      <li>Terminales PDA</li>
      <li>Impresoras portatiles</li>
    </ul>
  </div>
  <Image 
    src="/images/terminal-2.jpeg"
    alt='Hero image'
    height=439
    width=1024
    class='w-full h-[80vh] object-cover overflow-hidden brightness-50' />
</section>