---

---
<navbar class="grid mt-2 w-full sm:w-fit lg:block lg:h-full">
  <ul class="flex justify-evenly sm:gap-5 h-full items-center">
    <li><a title="Productos" class="border-indigo-400 lg:border-[1px] font-medium block bg-indigo-950/50 py-2 px-3 rounded-md hover:text-amber-500 hover:scale-110 transition-transform" href="#productos">Productos</a></li>
    <li><a title="Nosotros" class="border-indigo-400 sm:border-[1px] font-medium block bg-indigo-950/50 py-2 px-3 rounded-md hover:text-amber-500 hover:scale-110 transition-transform" href="#nosotros">Nosotros</a></li>
    <li><a title="Inicio" class="border-indigo-400 sm:border-[1px] font-medium block bg-indigo-950/50 py-2 px-3 rounded-md hover:text-amber-500 hover:scale-110 transition-transform" href="#">Inicio</a></li>
  </ul>
</navbar> 