---
import { Icon } from 'astro-icon/components'

interface Props {
  number: string;
  message?: string;
}
const baseUrl = 'https://wa.me'

const { number, message } = Astro.props

const waNumber = number.replace(/[^\w\s]/gi, '').replace(/ /g, '');
let url = `${baseUrl}/${waNumber}`;

if (message) {
  url += `?text=${encodeURI(message)}`;
}

---
<a
  title="whatsApp link"
  aria-label='whatsApp link'
  href={url}
  target="_blank"
  class="bg-green-600 fixed right-5 bottom-4 p-2 rounded-full z-20 hover:scale-110 focus:scale-110 transition-transform"
  >
  <Icon
    aria-hidden
    name="tabler:brand-whatsapp"
    width={40}
    height={40}
    class="text-green-100"
  />
  <span class="hidden">whatsApp link</span>
</a>